@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-input-border: var(--input-border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);

  --color-: var(--button-text-primary);
  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);
  --color-button-third: var(--button-third);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;

  --background: #0B1125;
  --foreground: #20273d;
  --input-border: #737677;

  --primary: #E3E3E3;
  --secondary: #c9c9c9;
  --third: #1876D2;

  --button-text-primary: #F6F8FC;
  --button-primary: #1876D2;
  --button-secondary: #151a2d;
  --button-third: #2b3247;

}

.dark {
  --radius: 0.625rem;
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);

}