name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test_and_lint:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      URL_NORTUS_API: ${{ vars.URL_NORTUS_API }}

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Run Lint
      run: yarn lint

    - name: Build
      run: yarn build

    - name: Run Cypress Tests
      uses: cypress-io/github-action@v6
      with:
        install: false
        start: yarn start
        wait-on: 'http://localhost:3000'
        command: yarn cypress run
