name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test_and_lint:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      URL_NORTUS_API: ${{ vars.URL_NORTUS_API }}

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Run Lint
      run: yarn lint

    - name: Build
      run: yarn build

    - name: Start Application
      run: yarn start &
      env:
        PORT: 3000

    - name: Wait for localhost:3000
      run: npx wait-on http://localhost:3000

    - name: Run Cypress Tests
      uses: cypress-io/github-action@v6
      with:
        # We have already installed dependencies and built the app
        install: false
        # Just run the tests
        command: yarn cypress run
